<footer>
    <p>Created by {{name}}</p>
</footer>
{{!-- In each hbs file we have included header and in each file we can assess title property coming for app.js ,
hence indirectly those values are available in the header file--}}