{{!-- In each hbs file we have included header and in each file we can assess title property coming for app.js ,
hence indirectly those values are available in the header file--}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>